<header>
    <h1>Welcome to Koner I.T Solutions</h1>
    <nav>
        <a href="#about">About Us</a>
        <a href="#services">Services</a>
        <a href="/projects">Projects</a>
        <a href="/swagger">Swagger ui</a>
        <a href="#contact">Contact</a>
        <a href="/auth/logout">LogOut</a>
        
    </nav>
</header>